<mat-form-field>
    <input type="text" matInput [value]="searchText" placeholder="Search here..." (keydown)="searchProduct($event)" />
</mat-form-field>
<mat-card *ngIf="selectedProduct">
    <mat-card-title>{{selectedProduct.name}}</mat-card-title>
    <mat-card-subtitle>{{selectedProduct.id}}</mat-card-subtitle>
    <mat-card-content>{{selectedProduct.sku}}</mat-card-content>
</mat-card>
<mat-nav-list>
    <mat-list-item *ngFor="let product of products">
        {{product.name}} &nbsp;
        <mat-chip-list>
            <mat-chip>{{product.sku}}</mat-chip>
            <mat-chip>{{calculate(product.id)}}</mat-chip>
        </mat-chip-list>
        <button mat-icon-button (click)="selectProduct(product)">
          <mat-icon>info</mat-icon>
        </button>
    </mat-list-item>
</mat-nav-list>